extend /layout

block content
  div.row
    div.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
      div.panel.panel-success
        div.panel-heading Password changed
        div.panel-body
          | You have successfully changed your password.
          p
            | Use your new password to 
            a(href="/login") login
            | .
